html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 50px;
    color: darkgrey;
}

.material-symbols-outlined:hover,
.material-icons-outline:focus {
    cursor: pointer;
}

.material-icons-outline:active {
    transform: scale(0.96);
}