p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.mainwrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
    row-gap: 15px;
}

.userbox {
    width: 10em;
    border: 1px solid #333;
    border-radius: 100%;
    height: 10em;
    padding: 25px;
    grid-column: 4/5;
    grid-row: 2;
}

.bottombox {
    display: grid;
    row-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-column: 1;
    grid-row: 5;
}

.innerbox1 {
    width: 4em;
    height: 4em;
    border: 1px solid #333;
    padding: 2px;
    grid-column: 1;
    grid-row: 2;
}

.innerbox2 {
    width: 4em;
    height: 4em;
    border: 1px solid #333;
    padding: 2px;
    grid-column: 1;
    grid-row: 4;
}

.innerbox3 {
    width: 4em;
    height: 4em;

    border: 1px solid #333;
    padding: 2px;
    grid-column: 1;
    grid-row: 6;
}

.continuebox {
    width: 12em;
    height: min-content;
    border: 1px solid #333;
    padding: 9px;
    grid-column: 4/5;
    grid-row: 4;
    position: inherit;
}