@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bhaiksuki&family=Roboto+Slab:wght@100..900&display=swap");
:root {
  font-family: "Roboto Slab", serif;
  font-style: normal;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  background: #dce9fe;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.folder {
  width: 880px;
  height: 561px;
  border-radius: 27.5px 27.5px 27.5px 27.5px;
  filter: drop-shadow(0 0 0.225rem rgb(231, 227, 227));
  cursor: pointer;
  text-align: center;
  background: rgb(241, 213, 146);
  position: absolute;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 935px;
}

.folder-open {
  background: rgb(241, 213, 146);
  transform-origin: bottom center;
  cursor: pointer;
  transform: rotateX(-42deg) skew(1deg);
}

.folder-back {
  width: 880px;
  height: 550px;
  border-radius: 5.5px 27.5px 27.5px 27.5px;
  filter: drop-shadow(0 0 0.225rem #dce9fe);
  background: rgb(241, 213, 146);
  position: absolute;
}

.folder-back::before {
  content: "";
  position: absolute;
  top: -19.8px;
  width: 220px;
  height: 38.5px;
  background: rgb(241, 213, 146);
  border-radius: 27.5px 0 0 0;
  clip-path: path("M 0 0 L 176 0 C 203.5 2.2, 192.5 17.6, 220 19.8 L 0 55 z");
}

.linkedin {
  border: 2.2px solid #fd8026;
  top: 21px;
  border-radius: 13.4px;
  width: 82%;
  height: 50%;
  position: absolute;
  margin: 0 auto;
  display: block;
  justify-self: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-align: center;

  font-weight: 400;
  font-size: large;
}

.linkedin,
.linkedin::before {
  background: #fd8026;
}

.linkedin::before {
  text-align: center;
  position: absolute;
  top: -19.8px;
  right: 2.2px;
  width: 220px;
  height: 49.5px;
  border-radius: 27.5px 0 0 0;
  clip-path: path("M 0 0 L 176 0 C 203.5 2.2, 192.5 17.6, 220 19.8 L 0 55 z");
  content: "Connect";
  text-indent: -12px;
  font-size: 18px;
}

.linkedin:hover {
  transform: translateY(-8.8px);
}

.linkedin.linkedin-open:hover {
  transform: translateY(-82.5px);
}

.linkedin-open {
  margin: 0 auto;
  justify-self: center;
  border-radius: 13.2px;
  width: 82%;
  height: 50%;
  transform: translateY(-71.5px);
  position: absolute;
  transition: all 0.2s ease-out;
  padding-top: 33px;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.wEw {
  border: 2.2px solid #71c36e;
  margin: 0 auto;
  display: block;
  justify-self: center;
  margin-top: 46px;
  border-radius: 13px;
  width: 85%;
  height: 40%;
  position: absolute;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.wEw:hover {
  transform: translateY(-8.8px);
}

.wEw.wEw-open:hover {
  transform: translateY(-82.5px);
}

.wEw,
.wEw::before {
  background: #71c36e;
}

.wEw::before {
  text-align: center;
  position: absolute;
  top: -19.8px;
  right: 250px;
  width: 220px;
  margin-right: 170px;
  height: 38.5px;
  border-radius: 27.5px 0 0 0;
  clip-path: path("M 0 0 L 176 0 C 203.5 2.2, 192.5 17.6, 220 19.8 L 0 55 z");
  content: "Who Eats Whom";
  text-indent: -17px;
  font-size: 18px;
}

.wEw-open {
  justify-self: center;
  border-radius: 13.2px;
  width: 85%;
  height: 50%;
  transform: translateY(-82.5px);
  position: absolute;
  transition: all 0.2s ease-out;
  grid: flex;
  padding-top: 33px;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.sas {
  border: 2.2px solid #006dcf;
  background-color: #006dcf;
  margin: 0 auto;
  display: block;
  justify-self: center;
  margin-top: 71px;
  border-radius: 13px;
  width: 88%;
  height: 40%;
  position: absolute;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: large;
  display: flex;
}

.sas:hover {
  transform: translateY(-8.8px);
}

.sas.sas-open:hover {
  transform: translateY(-82.5px);
}

.sas::before {
  text-align: center;
  position: absolute;
  top: -19.8px;
  right: 250px;
  width: 220px;
  margin-right: -150px;
  height: 38.5px;
  background: #006dcf;
  border-radius: 27.5px 0 0 0;
  clip-path: path("M 0 0 L 176 0 C 203.5 2.2, 192.5 17.6, 220 19.8 L 0 55 z");
  content: "SAS Internship";
  text-indent: -17px;
  font-size: 18px;
}

.sas-open {
  justify-self: center;
  border-radius: 13.2px;
  width: 88%;
  height: 50%;
  transform: translateY(-82.5px);
  position: absolute;
  transition: all 0.2s ease-out;
  grid: flex;
  padding-top: 33px;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.skills {
  border: 2.2px solid #ffcc35;
  margin: 0 auto;
  display: block;
  justify-self: center;
  margin-top: 97px;
  border-radius: 13.2px;
  width: 92%;
  height: 50%;
  position: absolute;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.skills:hover {
  transform: translateY(-8.8px);
}

.skills.skills-open:hover {
  transform: translateY(-82.5px);
}

.skills,
.skills::before {
  background: #ffcc35;
}

.skills::before {
  text-align: center;
  position: absolute;
  top: -19.8px;
  left: -35px;
  width: 210px;
  margin-left: 110px;
  height: 38.5px;
  border-radius: 27.5px 0 0 0;
  clip-path: path("M 0 0 L 176 0 C 203.5 2.2, 192.5 17.6, 220 19.8 L 0 55 z");
  content: "Skills";
  text-indent: -17px;
  font-size: 18px;
}

.skills-open {
  justify-self: center;
  border-radius: 13.2px;
  width: 92%;
  height: 50%;
  transform: translateY(-82.5px);
  position: absolute;
  transition: all 0.2s ease-out;
  grid: flex;
  padding-top: 33px;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.paraText {
  white-space: pre;
  margin-top: -9px;
  line-height: 1.8;
}

.about {
  border: 2.2px solid #d2c401;
  margin: 0 auto;
  display: block;
  justify-self: center;
  margin-top: 123px;
  border-radius: 13.2px;
  width: 96%;
  height: 50%;
  position: absolute;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-align: center;

  font-weight: 400;
  font-size: large;
}

.about:hover {
  transform: translateY(-8.8px);
}

.about.about-open:hover {
  transform: translateY(-82.5px);
}

.about,
.about::before {
  background: #d2c401;
}

.about::before {
  text-align: center;
  position: absolute;
  top: -19.8px;
  right: 2.2px;
  margin-right: 207px;
  width: 220px;
  height: 38.5px;
  border-radius: 27.5px 0 0 0;
  clip-path: path("M 0 0 L 176 0 C 203.5 2.2, 192.5 17.6, 220 19.8 L 0 55 z");
  content: "Objective";
  text-indent: -12px;
  font-size: 18px;
}

.about-open {
  justify-self: center;
  border-radius: 13.2px;
  width: 95%;
  height: 50%;
  transform: translateY(-82.5px);
  position: absolute;
  transition: all 0.2s ease-out;
  padding-top: 33px;
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.name {
  align-self: center;

  font-weight: 400;
  font-size: xx-large;
}

.desc {
  align-self: self-start;

  font-weight: 400;
  font-size: xx-large;
}

a {
  color: inherit;
}

.whoEatsText {
  white-space: pre;
  margin-top: -13px;
  padding-left: 25px;
  line-height: 1.8;
  text-align: left;
}

.sasText {
  white-space: pre;
  margin-top: -15px;
  padding-left: 20px;
  line-height: 1.8;
  text-align: left;
}

.whoEatsBtn {
  border: 5px green solid;
  background-color: green;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  float: right;
  margin-top: -15px;
  margin-right: 25px;
  font-size: 13px;
  line-height: 1.6;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
}

.sasBtn {
  border: 5px rgb(16, 55, 153) solid;
  background-color: rgb(16, 55, 153);
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin-left: 75px;
  margin-top: -15px;
  margin-right: 5px;
  line-height: 1.6;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
}

/* Who eats whom */
.main {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: 100px 500px 130px;

  justify-content: center;
  align-items: center;
  background: #dce9fe;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}

.objectiveBox,
.sasObj {
  border: 5px #9bd6a5 solid;
  box-shadow: 4px 4px #71c36e;
  background-color: #9bd6a5;
  border-radius: 10px;
  width: 800px;
  height: 75px;
  display: flex;
  align-items: center;        /* vertical centering */
  justify-content: center;    /* horizontal centering - ADD THIS */
  line-height: 1.3;
  margin-top: 25px;
  margin-right: 0px;
  text-align: center;
  justify-self: center;
  grid-column: 2;
  grid-row: 1;
  box-sizing: border-box;
  font-size: 0.85rem;
}

.sasObj{
border: 5px #006dcf solid;
  box-shadow: 4px 4px #024580;
  background-color: #006dcf;
}

.wEwSkills,
.sasSkills {
  grid-column: 3;
  /* /* grid-row: 1;  */
  justify-self: right;
  font-size: 0.85rem;
  display: flex;
  box-sizing: border-box;
  border: 5px #9bd6a5 solid;
  box-shadow: 4px 4px #71c36e;
  background-color: #9bd6a5;
  border-radius: 10px;
  text-align: center;
  align-items: center;

  width: 200px;
  height: 70px;
  line-height: 1.3;
  margin-top: 25px;
  margin-right:55px;
}

.sasSkills{
border: 5px #006dcf solid;
  box-shadow: 4px 4px #024580;
  background-color: #006dcf;
}

.back,
.back-sas {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  font-size: 1.4rem;
  display: flex;
  box-sizing: border-box;
  border: 5px #9bd6a5 solid;
  box-shadow: 4px 4px #71c36e;
  background-color: #9bd6a5;
  border-radius: 10px;
  text-align: center;
  align-items: center;       /* vertical centering */
  justify-content: center;   /* horizontal centering - ADD THIS */
  width: 80px;
  outline: inherit;
  height: 75px;
  line-height: 1.3;
  margin-top: 25px;
  margin-left: -320px;
    transition: background-color 0.3s ease, border 0.3s ease;

  text-decoration: none;
}

.back-sas{
border: 5px #006dcf solid;
  box-shadow: 4px 4px #024580;
  background-color: #006dcf;
}

.back-sas:hover{
    background-color: #024580;
  border:  #024580 ;

}

.back:hover{
    background-color: #8ad095;
  border:  #8ad095 ;

}

.containerDiv1 {
  grid-column: 1;
  grid-row: 2;
}
.containerDiv2 {
  grid-column: 2;
  grid-row: 2;
}
.containerDiv3 {
  grid-column: 3;
  grid-row: 2;
}

.containerDiv1,
.containerDiv2,
.containerDiv3,
.sas-div-1,
.sas-div-2,
.sas-div-3 {
  border: 12px #fed968 solid;
  background-color: #fed968;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin-left: 50px;

  text-align: center;
  box-sizing: border-box;
  line-height: 2;
  overflow: hidden;
  box-shadow: -4px #f4ba7e;
  box-shadow:
    -3px 4px 1px #f4ba7e,
    1px 1px #f4ba7e;
}

/* tellow #fed968; */
/* blue #006dcf */
/* green 9bd6a5 */
.containerDiv1Text,
.containerDiv2Text,
.containerDiv3Text {
  border: 5px #9bd6a5 solid;
  background-color: #9bd6a5;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
  align-self: self-start;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  line-height: 1.3;
  /* box-shadow: -2px 2px 1px #71c36e, 2px 2px 1px #71c36e; */
  justify-self: center;
  padding: 8px;
}

.containerDiv1Text {
  grid-column: 1;
  grid-row: 3;
}
.containerDiv2Text {
  grid-column: 2;
  grid-row: 3;
}
.containerDiv3Text {
  grid-column: 3;
  grid-row: 3;
}

.ego-img,
.focus-img,
.node-img {
  border-radius: 10px;
  border: 5px #fed968 solid;
  background-color: #fed968;
  transition: background-image 0.7s ease-in-out;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.ego-img {
  background-image: url("/focus-after.png");
}

.ego-img:hover {
  background-image: url("/focus-before.png");
}

.focus-img {
  background-image: url("/render-out.png");
}
.focus-img:hover {
  background-image: url("/render-in.png");
}

.node-img {
  background-image: url("/node-style.png");
  width: 100%;
  height: 100%;
}

.sas-div-1,
.sas-div-2,
.sas-div-3 {
  border: 5px #006dcf solid;
  background-color: #006dcf;
  box-shadow:
    -3px 4px 1px #024580,
    1px 1px #024580;
  height: 480px;
  margin-top: 80px;
  grid-row:  2;
}