body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: grey;
}

.folder {
  width: 800px;
  height: 510px;
  /* margin: 5em auto 2em; */

  border-radius: 25px 25px 25px 25px;
  filter: drop-shadow(0 0 0.75rem grey);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(241, 213, 146);
  position: absolute;
  transition: all 0.2s ease-in;
}

.folder-open {
  background: rgb(241, 213, 146);
  transform-origin: bottom center;
  cursor: pointer;
  transform: rotateX(-40deg) skew(1deg);

  width: 800px;
  height: 500px;
  perspective: 850px;
}

/* .folder-open .linkedin {
  transform: translate(-50%, 0%);
}

.folder-open .github {
  transform: translate(-50%, 0%);
}

.folder-open .about {
  transform: translate(-50%, 0%);
} */

.folder-back {
  width: 800px;
  height: 500px;
  /* margin: 5em auto 2em; */
  border-radius: 5px 25px 25px 25px;
  filter: drop-shadow(0 0 0.75rem grey);
  background: rgb(241, 213, 146);
  position: absolute;
}

.folder-back::before {
  content: "";
  position: absolute;
  top: -18px;
  width: 200px;
  height: 35px;
  background: rgb(241, 213, 146);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
}

.linkedin {
  border: 2px solid rgb(10, 102, 194);
  background-color: rgb(10, 102, 194);
  top:24px;
  border-radius: 12px;
  width: 85%;
  height: 50%;
  position: absolute;
  margin: 0 auto;
  display: block;
  justify-self: center;
  transition: all 0.1s ease-in;
   /* Text */
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
}

/* .linkedin,
.github,
.about {
  margin-top: 30px; /* replace with your desired base + 30px per element */
 

.linkedin::before {
  text-align: center;
  position: absolute;
  top: -18px;
  right: 2px;
  width: 200px;
  height: 45px;
  background: rgb(10, 102, 194);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
  content: "Connect";
}

.linkedin-open {
  margin: 0 auto;
  justify-self: center;
  border-radius: 12px;
  width: 85%;
  height: 50%;
  transform: translateY(-65px);
  position: absolute;
  transition: all 0.2s ease-out;
  /* Text */
   padding-top: 30px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
}

a{
    color:inherit;
}


.github {
  border: 2px solid #0fbf3e;
  background-color: #0fbf3e;
  margin: 0 auto;
  display: block;
  justify-self: center;
  margin-top: 58px;
  border-radius: 12px;
  width: 90%;
  height: 50%;
  position: absolute;
  transition: all 0.1s ease-in;
    /* Text */
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
}

.github::before {
  text-align: center;
  
  position: absolute;
  top: -18px;
  left: 0px;
  width: 200px;
  height: 35px;
  background: #0fbf3e;
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
  /* Text */
  content: "Skills";
 
} 
 
.github-open {
  justify-self: center;
  border-radius: 12px;
  width: 90%;
  height: 50%;
  transform: translateY(-75px);
  position: absolute;
  transition: all 0.2s ease-out;
  grid: flex;
  
   /* Text */
   padding-top: 30px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;

}

.about {
  border: 2px solid rgb(156, 14, 212);
  background-color: rgb(156, 14, 212);
  margin: 0 auto;
  display: block;
  justify-self: center;
  margin-top: 90px;
  border-radius: 12px;
  width: 95%;
  height: 50%;
  position: absolute;
  transition: all 0.1s ease-in;
    /* Text */
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
}

.about::before {
  text-align: center;
  position: absolute;
  top: -18px;
  right: 2px;
  width: 200px;
  height: 35px;
  background: rgb(156, 14, 212);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
  /* Text */
  content: "Objective";

}

.about-open {
  justify-self: center;
  border-radius: 12px;
  width: 95%;
  height: 50%;
  transform: translateY(-75px);
  position: absolute;
  transition: all 0.2s ease-out;
 /* Text */
   padding-top: 30px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
}

.name {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: xx-large;
}
